{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div style="background-image: url('/media/images/img-olympic.jpg'); height: 500px; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">

</div>
<!-- <img src="/media/images/img-olympic.jpg" alt="" class="my-6"> -->

<div class="container my-10">
    <h3 style="font-size: 34px;">FunOlympic Games</h3>
    <div style="font-size: 18px; " class="mt-7">
        <p>
            The Olympic Games are an international sporting event that occurs every four years, once during the summer
            (the Summer Games) and once during the winter (the Winter Games). The 2012 Summer Games were held in London,
            the 2016 Summer Games in Rio de Janeiro, the 2014 Winter Games in Sochi, Russia, and the 2018 Winter Games
            in Pyeongchang, South Korea. The Olympic Games are formally known as the Games of the XXX Olympiad, where
            “XXX” represents the Roman numeral representation of the event. The 2008 Summer Olympics, for examples, was
            formally known as the Games of the XXIX Olympiad.
        </p>
        <p>The purpose of the Olympic Games is to bring together the world's finest male and female athletes in some
            predesignated group of summer and winter sports. Winners in each of these contests are now generally
            regarded as the champions in their sport for the four-year period following their triumph.
        </p>
        <p>
            Both men and women can compete in the Olympic Games, with minimum and maximum age limits (if there are any)
            being established by the international governing bodies for the sports involved. In general, the minimum age
            for participation in most Olympic sports is 16, although that age varies for some sports. The minimum age
            for marathon competitors, for example, is 20. A new category of Olympic Games was introduced in 2010 with
            the Youth Olympic Games held in Singapore. The age limit for participants in those games was 14 to 18 years
            of age.
        </p>
        <p>
            The sports included in an Olympics event vary from games to games. Five sports have been included in every
            Summer Olympic Games since 1896: athletics, cycling, fencing, gymnastics, and swimming. A few sports have
            been included in the Olympics schedule for almost all of that period, including weightlifting and wrestling.
            A number of sports have made brief appearances, and then disappeared from the games, including Basque pelota
            (1900 only), cricket (1900), rackets (1908), rugby sevens (2006), and water motorsports (1908). Seven sports
            have been included in all 21 Winter Olympic Games, including cross-country skiing, figure skating, ice
            hockey, Nordic combined, ski jumping, and speed skating. The two newest winter sports are freestyle skiing
            and short-track speed skating (both introduced in 1992).
        </p>
        <p>
            <b>
                The International Olympic Committee is the guardian of the Olympic Games and the leader of the Olympic
                Movement.
            </b>
        </p>
        <p>
            The vision of the International Olympic Committee is to Build a Better World through Sport.
        </p>
        <div class="mt-10">
            <div class="row">
                <div class="col-md-6">
                    <img src="/media/images/img-2.jpg" alt="" width="600">
                    <p class="mt-5" style="font-size: 18px;">
                        The IOC is at the very heart of world sport, supporting every Olympic Movement stakeholder,
                        promoting Olympism worldwide, and overseeing the regular celebration of the Olympic Games. The
                        IOC is also committed to promoting sport in society, strengthening the integrity of sport and
                        supporting clean athletes and other sports organisations.
                    </p>
                    <a href="https://olympics.com/ioc/principles">
                        Learn more <img src="/media/images/arrowright..png" alt="" srcset="" height="30" width="60">
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="/media/images/img-3.jpg" alt="" width="600">
                    <p class="mt-5" style="font-size: 18px;">
                        Established in on 23 June 1894, the International Olympic Committee is a not-for-profit
                        independent international organisation. Based in Lausanne, Switzerland, the Olympic Capital, it
                        is entirely privately funded and distributes 90 per cent of its revenues to the wider sporting
                        movement, for the development of sport and athletes at all levels.
                    </p>
                    <a href="https://olympics.com/ioc/principles">
                        Learn more <img src="/media/images/arrowright..png" alt="" srcset="" height="30" width="60">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}