{% load static %}

{% include "partials/_head.html" %}

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="kt_body" style="background-color: white;" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                {% include "partials/_header.html" %}

                {% block content %}{% endblock %}

                {% include "partials/_footer.html" %}
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>

    {% include "partials/_scrolltotop.html" %}
    {% include "partials/_scripts.html" %}
</body>
<!--end::Body-->

</html>