{% extends "home/base.html" %}
{% load static %}

{% block content %}


<div class="container mt-15">
    <div class="row">
        <div class="col-md-6">
            <p style="font-size: 18px;">The <span style="color: #070bcb;"> Youth Olympic Games</span> are an
                international sports, cultural, and educational event for talented
                young athletes.</p>
            <a class="btn text-white py-6 w-100 mt-10" style="background-color: #070bcb; font-size: 18px;"
                href="/about">Learn more about Youth
                Olympic</a>
        </div>
        <div class="col-md-6">
            <img class="img-fluid rounded" src="/media/images/youtholympicgames.webp" alt="" srcset="">
        </div>
    </div>
</div>
<div class="mt-5">
    <div class="container">
        <h4 style="font-size: 32px; border-left: 5px solid blue;" class="mb-6">&nbsp;Live Videos</h4>
        <div class="row">
            {% for data in live %}
            <div class="col-4">
                {% if user.is_authenticated %}
                <video class="w-100" autoplay controls>
                    <source src="{{ data.file.url }}" type="video/mp4">
                    </source>
                </video>
                {% else %}
                <a href="/login">
                    <img src="{{data.image.url}}" alt="" srcset="" class="rounded" width="90%">
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- <div id="myCarousel" class="carousel slide mt-15" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/media/static/img/Untitled-1.png" alt="First slide"
                            height="500">
                    </div>
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/media/static/img/Untitled-1.png" alt="First slide"
                            height="500">
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="">
                <div class="carousel-caption text-start">
                    <h1 class="text-white mb-5">Fun Olympic Game</h1>
                    {% if request.user.is_authenticated %}
                    <p><a class="btn btn-lg border text-white" style="font-size: 20px;" href="{% url 'video' %}">Let's
                            have fun</a></p>
                    {% else %}
                    <p><a class="btn btn-lg border text-white" style="font-size: 20px;"
                            href="{% url 'signup' %}">Register today</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div style="background-image: url('/media/images/home-1.jpg'); height: 500px; background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">

</div> -->
<img class="my-15 w-100" src="/media/images/home-1.png" alt="">

<div class="mt-15 mb-10">
    <div class="container">
        <h4 style="font-size: 32px;">News</h4>

        <div class="mt-1">
            <div class="row">
                {% for data in news %}
                <div class="col-3">
                    <img class="img-fluid mt-5" src="{{data.image.url}}" width="300">
                    <p class="mt-4" style="font-size: 18px; ">{{data.title}}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="mt-15 mb-15">
    <div class="container">
        <h4 style="font-size: 32px;">Sports</h4>
        <div class="mt-8">
            <div class="row">
                {% for data in feat %}
                <div class="col-4">
                    <div style="position: relative;">
                        <img src="{{data.image.url}}" alt="" srcset="" class="rounded" width="90%">
                        <p class="text-white"
                            style="font-weight: bold;  position: absolute; font-size: 20px; bottom: 8px; left: 16px;">
                            {{data.title}}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}