{% extends "home/base.html" %}
{% load static %}

{% block content %}

<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl my-10">
    <div class="content flex-row-fluid" id="kt_content">
        <div class="text-center">
            <form class="form-inline d-block" action="" method="get">
                <input type="text" class="form-control mr-4 py-6" style="width: 600px;" name="q">
                <button style="padding: 0px; border: 0px; background-color: #fff;" type="submit">
                    <i class="fas fa-search fa-2x"></i>
                </button>
            </form>
            <div class="dropdown mt-10">
                <button class="btn border dropdown-toggle"  type="button" data-toggle="dropdown">Category
                    <span class="caret"></span></button>
                <ul class="dropdown-menu text-center">
                    {% for obj in categories %}
                    <li><a href="{% url 'video' %}?q={{obj.name}}" class="text-black mt-4" style="font-size: 14px;" >{{obj.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl mt-8">
    <!--begin::Post-->
    <div class="content flex-row-fluid" id="kt_content">
        {% if page_obj %}
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::post-->
            {% for data in page_obj %}
            <div class="col-xl-4">
                <!--begin::Mixed Widget 5-->
                <a href="{% url 'video-detail' data.id %}">
                    <!-- <div class="card card-xl-stretch mb-xl-3"> -->
                    <div style="border: 1px solid #d1d1d1;">
                        <div class="card-body d-flex flex-column">
                            <!--begin::video image-->
                            <img src="{{ data.image.url }}" class="img-fluid">
                            <!--end::video image-->
                            <div class="mt-5">
                                <div class="d-flex align-items-end ">
                                    <div class="d-flex align-self-center me-2">
                                        <div>
                                            <!-- <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top
                                            Authors</a> -->
                                            <h4 class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{data.title}}
                                            </h4>
                                            <p class="text-black"><b> Category:&nbsp;</b>{{data.category}}</p>
                                            <p class="text-black p-0 m-0">{{data.created_at}}</p>
                                            <!-- <div class="fs-7 text-muted fw-bold mt-1">Ricky Hunt, Sandra
                                            Trepp</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </a>
            </div>
            {% endfor %}

            <!--end::post-->
        </div>

        <div class="mt-10">
            {% include 'partials/_pagination.html' %}
        </div>
        {% else %}
        <p class="text-center" style="font-size: 45px;"> Videos not available </p>
        {% endif %}

    </div>
</div>

{% endblock %}