{% extends "home/base.html" %}
{% load static %}

{% block content %}

<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl mt-15">
    <div class="content flex-row-fluid" id="kt_content">
    </div>
</div>
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl mb-15">
    <div class="content flex-row-fluid" id="kt_content">

        <div class="row">
            <div class="col-md-9">
                <div class="card shadow-sm">
                <video  class="embed-responsive"  controls>
                    <source src="{{ video.file.url }}" type="video/mp4">
                    </source>
                </video>
                </div>
                <div class="mt-5">
                    <p style="font-size: 22px;">{{video.title}}</p>
                    <div class="d-flex justify-content">
                        <p class="mb-0">{{view_count}} views&nbsp;&nbsp;&nbsp;</p>
                        <p class="mb-0">{{video.created_at|date:"M d, Y"}}</p>
                    </div>
                    <div class="mt-7">

                        <span class="mr-4">
                            <a href="#" target="_blank" hx-post="{% url 'like-add' pk %}" hx-target="#like-count">
                                <i class="fas fa-thumbs-up fa-2x">&nbsp;</i>
                            </a>
                            <!-- like count  -->
                            <span id="like-count">
                                {% include 'home/video/like.html' %}
                            </span>
                        </span>

                        <span class="mr-4">
                            <a href="#" target="_blank" hx-post="{% url 'dislike-add' pk %}" hx-target="#dislike-count">
                                <i class="far fa-thumbs-down fa-2x">&nbsp;</i>
                            </a>
                            <!-- dislike count  -->
                            <span id="dislike-count">
                                {% include 'home/video/dislike.html' %}
                            </span>
                        </span>


                    </div>
                    <p class="mt-8" style="font-size: 18px;">
                        Comments
                    </p>
                    <div class="mt-3">
                        <div id="comment-list">
                            {% include 'home/video/comment.html' %}
                        </div>
                    </div>

                    <div class="mt-15">
                        <form id="myForm">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment">Comment:</label>
                                <textarea class="form-control" rows="5" id="comment_box" name="comment"></textarea>
                            </div>
                            <button type="submit" hx-post="{% url 'video-add' pk %}" hx-target="#comment-list"
                                class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pl-5">
                    <div class="mb-5">
                        <p style="font-size: 18px; letter-spacing: 1px;">{{title}} videos</p>
                    </div>
                    <div class="">
                        {% for video in videos %}
                        <a href="{% url 'video-detail' video.id %}">
                            <div class="mb-5">
                                <img src="{{video.image.url}}" width="60%">
                                <p class="mt-2">
                                    {{video.title}}
                                </p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}