{% load static %}

<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->

<head>
	<title>Sign up</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="shortcut icon" href="{% static 'assets/media/logos/favicon.ico' %}" />

	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
	<!--end::Fonts-->

	<!--begin::Global Stylesheets Bundle(used by all pages)-->
	<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->

	<!-- RECAPTCHA CDN -->
	<script src="https://www.google.com/recaptcha/api.js" async defer> </script>

	<style>
		.progress-bar-warning {
			background-color: yellow;
		}

		.progress-bar-danger {
			background-color: red;
		}

		.progress-bar-success {
			background-color: green;
		}

		.progress-bloc {
			margin-bottom: 20px;
		}

		.progress {
			margin-top: 20px;
			margin-bottom: 25px;
		}
	</style>

</head>
<!--end::Head-->

<!--begin::Body-->

<body id="kt_body" class="bg-body">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Authentication - Sign-up -->
		<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
			>
			<!-- style="background-image: url({% static 'assets/media/illustrations/sigma-1/14.png' %})"> -->
			<!--begin::Content-->
			<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
				<!--begin::Wrapper-->
				<div class="w-lg-900px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
					<!--begin::Form-->
					<form class="form w-140" method="POST">
						{% csrf_token %}
						<!--begin::Heading-->
						<div class="mb-10 text-center">
							<!--begin::Title-->
							<h1 class="text-dark mb-3">Create an Account</h1>
							<!--end::Title-->
							<!--begin::Link-->
							<div class="text-gray-400 fw-bold fs-4">Already have an account?
								<a href="{% url 'login' %}" class="link-primary fw-bolder">Sign in here</a>
							</div>
							<!--end::Link-->
						</div>
						<!--end::Heading-->

						<!--begin::Separator-->
						<div class="d-flex align-items-center mb-10">
							<div class="border-bottom border-gray-300 mw-50 w-100"></div>
							<span class="fw-bold text-gray-400 fs-7 mx-2">OR</span>
							<div class="border-bottom border-gray-300 mw-50 w-100"></div>
						</div>
						<!--end::Separator-->

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="form-label fs-6">First Name:</label>
									<input type="text" name="first_name" value="{{first_name}}"
										class="form-control form-control-lg form-control-solid mb-6">
								</div>
								<div class="form-group">
									<label class="form-label fs-6">Last Name:</label>
									<input type="text" name="last_name" value="{{last_name}}"
										class="form-control form-control-lg form-control-solid mb-6">
								</div>
								<div class="form-group">
									<label class="form-label fs-6">Phone:</label>
									<input type="number" name="phone" value="{{phone}}"
										class="form-control form-control-lg form-control-solid mb-6">
								</div>
							</div>
							<div class="col-md-6">
								<!--begin::Input group-->
								<div class="fv-row mb-7">
									<label class="form-label fw-bolder text-dark fs-6">Username</label>
									<input class="form-control form-control-lg form-control-solid" type="text"
										placeholder="" name="username" autocomplete="off" required />
								</div>
								<div class="fv-row mb-7">
									<label class="form-label fw-bolder text-dark fs-6">Email</label>
									<input class="form-control form-control-lg form-control-solid" type="email"
										placeholder="" name="email" autocomplete="off" required />
								</div>
								<div class="fv-row mb-7">
									<label class="form-label fw-bolder text-dark fs-6">Gender</label>
									{{gender_form.gender}}
								</div>

							</div>
						</div>
						{{countryform}}


						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="mb-10 fv-row" data-kt-password-meter="true">
							<!--begin::Wrapper-->
							<div class="mb-1">
								<!--begin::Label-->
								<label class="form-label fw-bolder text-dark fs-6">Password</label>
								<!--end::Label-->
								<!--begin::Input wrapper-->
								<div class="position-relative mb-3">
									<!-- <input class="form-control form-control-lg form-control-solid" type="password"
										placeholder="" name="password1" autocomplete="off" required /> -->
									{{ formm.password1 }}
									<span
										class="btn btn-sm btn-icon position-absolute translate-middle top-25 end-0 me-n2"
										data-kt-password-meter-control="visibility">
										<i class="bi bi-eye-slash fs-2"></i>
										<i class="bi bi-eye fs-2 d-none"></i>
									</span>
								</div>
								<!--end::Input wrapper-->
								<!--begin::Meter-->
								<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
									<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
								</div>
								<!--end::Meter-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Hint-->
							<div class="text-muted">Use 8 or more characters with a mix of letters, numbers &amp;
								symbols.</div>
							<!--end::Hint-->
						</div>
						<!--end::Input group=-->
						<!--begin::Input group-->
						<div class="fv-row mb-5">
							<label class="form-label fw-bolder text-dark fs-6">Confirm Password</label>
							<input class="form-control form-control-lg form-control-solid" type="password"
								placeholder="" name="password2" autocomplete="off" required />
						</div>

						{{ formm.media }}

						{% if form.errors %}
						{% for field in form %}
						{% for error in field.errors %}
						{% if error %}
						<div class="alert alert-danger my-4">
							<p class="m-0">{{ error }}</p>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}
						{% endif %}
						{% if message %}
						<div class="alert alert-danger my-4">
							<p class="m-0">{{ message }}</p>
						</div>
						{% endif %}
						{% if success %}
						<div class="alert alert-success my-4">
							<p class="m-0">{{ success }}</p>
						</div>
						{% endif %}
						<div class="mt-10">
							<div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
						</div>
						<div class="mt-10">
							<button type="submit" class="btn btn-lg btn-primary mr-2">Submit</button>
							<a href="{% url 'login' %}" class="btn btn-success btn-lg">Back</a>
						</div>
					</form>
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Content-->

		</div>
		<!--end::Authentication - Sign-up-->
	</div>

	<!--begin::Javascript-->
	<!--begin::Global Javascript Bundle(used by all pages)-->
	<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
	<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Page Custom Javascript(used by this page)-->
	<script src="{% static 'assets/js/custom/authentication/sign-up/general.js' %}"></script>
	<!--end::Page Custom Javascript-->
	<!--end::Javascript-->
</body>
<!--end::Body-->

</html>